body {
    margin: 0;
    padding: 0;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;

}

/* desktop */
.container {
    border: none;
    border: 10px;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 20rem;
}

.card {
    border-radius: .8rem;
    background-color: #fff;
    text-align: center;
    padding-bottom: 25px;
}

.text {
    display: grid;
    justify-content: center;
    align-items: center;
}

.hero {
    border-radius: 10px 10px 0 0;
    max-width: 20rem;
}

h2 {
    margin: 0;
    margin-top: 10px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.text p {
    max-width: 15rem;
    margin-bottom: 20px;
    font-size: 13px;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.plan {
    font-size: 14px;
    font-weight: 900;
    line-height: 23px;
    color: hsl(223, 47%, 23%);
}

span {
    font-size: 14px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.change {
    font-size: 12px;
    font-weight: 600;
    color: hsl(245, 75%, 52%);
    margin-right: 25px;
}

.cancel {
    font-size: 12px;
    font-weight: 600;
    color: hsl(224, 23%, 55%);
    margin-top: 2rem;

}

article a {
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    padding: 10px 70px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 13px;
    box-shadow: 3px 8px 10px rgb(162, 162, 162);
}

.btn:hover {
    transform: scale(1.05);
    transition: .6s;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.music {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10rem;
}

.content img {
    width: 35px;
    margin-left: 20px;
}
/* footer */
footer {
    font-size: 11px;
    text-align: center;
    margin: none;
  }

  footer a {
    color: hsl(228, 45%, 44%);
  }

/* mobile */
  @media (max-width: 375px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
    }
  }