body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
  }

/* desktop */
    .card {
      margin: 0 auto;

    }

    h4 {
      font-weight: 900;
      text-align: center;
    }

    .card-title {
      color:  hsl(223, 47%, 23%);
    }

    .card-text {
      max-width: 16rem;
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      color: hsl(224, 23%, 55%);
      margin-bottom: 30px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;
    }

    .music {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 10rem;
      gap: 5px;
    }

    .music img {
      width: 30px;
    }

    .plan {
      font-size: 13px;
      font-weight: 600;
      color:  hsl(223, 47%, 23%);
    }

    span {
      font-weight: 500;
      color: hsl(224, 23%, 55%);
    }

    .change {
      color: hsl(245, 75%, 52%);
      font-size: 12px;
      font-weight: 600;
    }

    .cancel {
      font-size: 12px;
      font-weight: 500;
      color: hsl(224, 23%, 55%);
      text-align: center;
      margin-top: 1rem;
    }

    .btn {
      background-color: hsl(245, 75%, 52%);
      font-size: 12px;
      padding: 6px 65px;
      box-shadow: 3px 5px 12px rgb(155, 155, 155);
    }

    .btn:hover {
      transform: scale(1.05);
      transition: .6s;
    }

    .button {
      text-align: center;
    }

/* footer */
  footer {
    font-size: 11px;
    text-align: center;
  }

  footer a {
    color: hsl(228, 45%, 44%);
  }

  /* mobile */

  @media (max-width: 375px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
    }
}